<Context>
 
  <Resource name="jdbc/mysql" auth="Container" type="javax.sql.DataSource"
               maxActive="50" maxIdle="30" maxWait="10000"
               username="hibernate_user" password="hibernate_password" 
               driverClassName="com.mysql.jdbc.Driver"
               url="jdbc:mysql://localhost:3306/testingdb"/>
 
</Context>